# Dependencies
node_modules
**/node_modules

# Build outputs
**/.next
**/dist
**/build
**/out
coverage

# Local dev / editor
.vscode
.devcontainer
.husky
.lhci

# Tests & docs
tests
docs
*.md
*.pdf

# Git & misc
.git
.gitignore
.DS_Store

# Env
.env*
apps/web/.env.local